<h1>Register</h1>

<form [formGroup]="form">

    <input
            formControlName="email"
            placeholder="Email"
            type="email"
    />

    @if (form.controls.email.touched &&
    form.controls.email.invalid) {

        @if (form.controls.email.errors?.['required']) {
            <p>Email required</p>
        }

        @if (form.controls.email.errors?.['email']) {
            <p>Invalid email</p>
        }

    }

    <input
            formControlName="password"
            placeholder="Password"
            type="password"
    />

    @if (form.controls.password.touched &&
    form.controls.password.invalid) {

        @if (form.controls.password.errors?.['required']) {
            <p>Password required</p>
        }

        @if (form.controls.password.errors?.['minlength']) {
            <p>Minimum 6 characters</p>
        }

    }

    <button (click)="register()">
        Register
    </button>

</form>