<h1>Change password</h1>

@if (!success()) {

  <input
    (input)="password.set($any($event.target).value)"
    [value]="password()"
    placeholder="New password"
    type="password"
  />

  @if (passwordError()) {
    <p>{{ passwordError() }}</p>
  }

  <input
    (input)="confirmPassword.set($any($event.target).value)"
    [value]="confirmPassword()"
    placeholder="Confirm password"
    type="password"
  />

  @if (confirmPasswordError()) {
    <p>{{ confirmPasswordError() }}</p>
  }

  @if (errorMessage) {
    <p>{{ errorMessage }}</p>
  }

  <button
    (click)="changePassword()"
    type="button"
  >
    Update password
  </button>

  <a routerLink="/auth/login">
    Go to login
  </a>


} @else {

  <p>
    ✓ Password updated successfully.
  </p>

  <p>
    Redirecting to login...
  </p>

}